.contact-form {
  &__inner {
    margin-top: 121px;
  }

  &__img {
    width: 495px;
    height: 586px;
    margin-right: 135px;
  }

  &__title-wrapper {
    text-align: center;
  }

  &__text {
    @include large-regular;
    margin-bottom: 65px;
  }



  &__wrapper {
    display: flex;
  }

  #contact-form {
    flex-grow: 1;
    margin-top: 5px;
  }

  &__form-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
    justify-content: space-between;
    gap: 24px 30px;
    margin-bottom: 31px;
  }

  &__input {
    width: 100%;
    margin-bottom: 0;
  }

  .application__mark {
      position: absolute;
      right: 14px;
      top: 40px;
      width: 16px;
      height: 16px;
      display: none;
  }

  .application__denger {
      position: absolute;
      right: 14px;
      top: 40px;
      width: 16px;
      height: 16px;
      display: none;
  }

  .validation-text {
      position: absolute;
      left: 0;
      top: 75px;
      font-size: 12px;
      color: $success;
      display: none;

      @include respond-to($m-tablet) {
          right: 0;
          left: auto;
          font-size: 10px;
      }
  }

  .validation-text-denger {
      position: absolute;
      left: 0;
      top: 75px;
      font-size: 12px;
      color: $danger;
      display: none;

      @include respond-to($m-tablet) {
          right: 0;
          left: auto;
          font-size: 10px;
      }
  }

  &__select::-ms-expand {
    display: none;
  }

  &__select {
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: $gray-200;
    outline: none;
    width: 100%;
    padding: 13px 16px;

    box-sizing: border-box;
    border: 1px solid $gray-400;
    font-size: 16px;
    color: $gray-900;
  }

  &__select >option:nth-child(1) {
    font-size: 16px;
        color: $gray-600;
  }

  &__select-wrapper {
    position: relative;
    margin-bottom: 16px;

    img {
      position: absolute;
      top: 70%;
      right: 10px;
      transform: translateY(-50%);
      pointer-events: none;
      width: 20px;
      height: 20px;
      z-index: 2;
    }
  }

  &__subtitle {
    margin-bottom: 20px;
  }

  &__radio-input-first {
    margin-right: 15px;
  }

input.radio-input {
    appearance: none;
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid $gray-400;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin-right: 6px;
    cursor: pointer;
}

input.radio-input:checked {
    background-color: $primary;
    border: 1px solid transparent;
}

/* Стилі для вибраних радіокнопок */
input.radio-input:checked::before {
    content: "";
    display: block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $primary;
    border: 2px solid $gray-200;
}

&__bnt-checkbox-wrapper {
    display: flex;
    gap: 75px;
    justify-content: space-between;
    margin-top: 40px;
    
}

.application__agree {
    font-size: 16px;
        color: #424551;
        padding-left: 30px;
        line-height: 25px;
        position: absolute;
        width: 350px;
        flex-grow: 1;
}

@include respond-to($l-desktop) {
    &__bnt-checkbox-wrapper {
        display: block;
    }

    &__btn-wrapper {
        margin-top: 50px;
        text-align: center;
    }

        .application__agree {
        width: 100%;
    }

        &__img {
            margin-right: 65px;
            margin-top: 40px;
        }

                .application__custom-checkbox{
                    margin-top: 5px;
                }
                
}

@include respond-to($desktop) {
    &__wrapper {
        display: block;
    }

    &__img {
        display: none;
    }
}
}

.offices {

    &__inner {
        background: $gray-200;
        margin-top: 120px;
        padding-top: 80px;
    }

    &__item-title {
        @include third-heading;
        margin-bottom: 30px;
    }

    &__address {
        @include base-regular;
        margin-bottom: 8px;
        max-width: 250px;
    }

    &__link {
        font-size: 16px;
        color: $primary;
        text-decoration: underline;
    }

        &__text-wrapper {
            margin-top: 26px;
        }

    &__text {
        @include base-regular;
       

        span {
            color: $gray-700;
        }
    }

        @include respond-to($m-desktop) {
            &__list {
                text-align: center;
            }

                        &__address {
                            max-width: 100%;
                        }
        }
}

.social-contact {

    &__inner {
        background: $gray-200;
        padding-top: 150px;
        padding-bottom: 125px;
        margin-top: -25px;
        text-align: center;
    }

    &__title {
        @include main-heading;
        margin-bottom: 46px;
    }

    &__list {
        display: flex;
        gap: 24px;
        justify-content: center;
    }

    &__item {
        img {
            width: 32px;
                height: 32px;
                -webkit-filter: invert(50%);
                filter: invert(50%);
                opacity: 1;
                transition: filter 3ms ease-in;
        }
    }

        &__item:hover {
            img {
                filter: invert(0);
            }
        }
       
}

 