body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    margin: 0;
    background: $main-white;
}

.container {
    max-width: 1260px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.block {
    &__title {
        @include main-heading;
        margin-bottom: 30px;
    }

    &__text {
        font-size: 18px;
        line-height: 24px;
        color: $gray-700;
        margin-bottom: 60px;
    }

    @include respond-to($tablet) {
        &__title {
            font-size: 38px;
            margin-bottom: 20px;
        }

        &__text {
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 40px;
        }
    }

    @include respond-to($l-mobile) {
        &__title {
            font-size: 28px;
            margin-bottom: 10px;
        }

        &__text {
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 30px;
        }
    }
}

.view-all {
    &__btn-wrapper {
        // margin-top: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    &__btn-subtitle {
        @include third-heading;
    }

    &__btn {
        @include main-btn;
        padding: 0 46px;
        line-height: 52px;
        transition: background 0.5s ease;
        font-size: 16px;
    }

    &__btn:hover {
        background: $danger;
    }

    @include respond-to($m-tablet) {
        &__btn-subtitle {
            font-size: 21px;
        }
    }

    @include respond-to($s-mobile) {
        &__btn-wrapper {
            display: block;
            margin-right: auto;
            margin-left: auto;
            margin-top: 40px;
        }

        &__btn-subtitle {
            margin-bottom: 25px;
        }

        &__btn {
            padding: 11px 36px;
        }
    }
}