.category {
  &__inner {
    margin-top: 120px;
    text-align: center;
    margin-bottom: 180px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(205px, 1fr));
    justify-content: space-between;
  }
  &__title {
    margin-bottom: 45px;
  }

  &__item {
    @include base-bold;
    padding: 10px 0;
    border: 1px solid transparent;
  }

  &__item-active {
    border: 1px solid $primary;
    color: $primary;
    border-radius: 4px;
  }

  &__item:hover {
    color: $primary;
  }

  &__posts-list {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    gap: 60px 30px;
    text-align: start;
  }

  &__post-item {
    max-width: 600px;
    max-height: 482px;
    box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03),
      0px 12px 10px -6px rgba(154, 156, 165, 0.04),
      0px 30px 24px -10px rgba(154, 156, 165, 0.05),
      0px 80px 80px -20px rgba(154, 156, 165, 0.08);
    border-radius: 4px;
    background: $main-white;
    margin-right: auto;
    margin-left: auto;
    transition: transform 0.3s ease;
  }

  &__post-item:hover {
    box-shadow: 0px 8px 8px -6px rgba(30, 33, 44, 0.1),
      0px 16px 12px -8px rgba(154, 156, 165, 0.12),
      0px 32px 24px -16px rgba(154, 156, 165, 0.15),
      0px 80px 80px -32px rgba(154, 156, 165, 0.2);
    transform: scale(1.05);

    .news__item-title {
      color: $primary;
    }
  }

  &__pagination-list {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
  }

  &__pagination-item {
    font-weight: 700;
    font-size: 16px;
    color: $gray-800;
    opacity: 1;
    transition: opasity 3ms ease-in;
  }

  &__pagination-item:hover {
    opacity: 0.6;
  }

  &__pagination-item-active {
    color: $primary;
  }

  @include respond-to($l-tablet) {
    &__posts-list {
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }

    &__inner {
      margin-top: 60px;
      text-align: center;
      margin-bottom: 80px;
    }
  }

  @include respond-to($l-mobile) {
    &__posts-list {
      grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    }
  }
}

.post {
  &__main-title {
    font-size: 64px;
    font-weight: 700;
    color: #1e212c;
    line-height: 77px;
    margin-bottom: 49px;
    letter-spacing: 1px;
  }

  &__data {
    font-size: 17px;

    img {
      width: 20px;
      height: 20px;
    }
  }

  &__data-active {
    color: $primary;
  }

  &__info-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__social-list {
    display: flex;
    gap: 12px;
    text-align: center;

    img {
      width: 24px;
      height: 24px;
      filter: invert(50%);
      opacity: 1;
      transition: opacity 3ms ease-in;
    }
  }

  &__social-item:hover {
    img {
      opacity: 0.6;
    }
  }

  @include respond-to($m-tablet) {
&__main-title {
    font-size: 34px;
    line-height: 37px;
}

&__info-block {
    display: block;
}

 &__social-list {
    margin-top: 20px;
 }
  }
}

.article {
  &__bg {
    margin-top: -79px;
  }

  &__inner {
    margin-top: 80px;
    max-width: 810px;
    margin-right: auto;
    margin-left: auto;
  }

  &__text-bolt {
    @include lead-bold;
  }

  &__text-first {
    margin-bottom: 24px;
  }

  &__text-second {
    margin-bottom: 48px;
  }

  &__text {
    @include base-regular;
  }

  &__quotation-wrapper {
    display: flex;
    align-items: flex-start;

    img {
      margin-right: 30px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 4px;

    img {
      width: 16px;
      height: 16px;
      margin-right: 16px;
    }
  }

  &__social-wrapper {
    margin-top: 60px;
    display: flex;
    gap: 14px;
    align-items: center;
  }

  @include respond-to($mobile) {
    &__text-bolt {
        font-size: 16px;

    }

        &__text {
            font-size: 14px;
    
        }

        &__social-list {
            margin-top: 0;
        }
  }
}

.comments {
  &__container {
    max-width: 840px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  &__inner {
    margin-top: 85px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
  }

  &__item:nth-last-child(1) {
    margin-bottom: 0;
  }

  &__title {
    text-align: center;
    margin-bottom: 65px;
  }

  &__name {
    @include large-bold;
    margin-bottom: 8px;
  }

  &__data {
    @include small-regular;
  }

  &__wrapper {
    max-width: 630px;

    span {
      @include base-bold;
      color: $primary;
    }
  }

  &__text {
    @include base-regular;
    margin-bottom: 16px;
  }

  &__reply-wrapper {
    display: flex;

    img {
      width: 16px;
      height: 16px;
      margin-right: 3px;
    }
  }

  &__reply {
    @include small-regular;
  }

  @include respond-to($xl-tablet) {
    &__item {
        display: block;
    }

    &__name-wrapper {
        margin-bottom: 20px;
    }

    &__wrapper {
        max-width: 100%;
    }
}

 @include respond-to($mobile) {
    &__name {
            font-size: 16px;
        }
    
        &__data {
           font-size: 12px;
        }

        &__text {
            font-size: 14px;
        }
 }

}

.comment-form {
&__inner {
    margin-top: 120px;
    margin-bottom: 180px;
}

&__title {
    text-align: center;
    margin-bottom: 60px;
}

    &__wrapper {
        display: flex;
        
        justify-content: space-between;
    }

    &__subtitle {
        display: block;
            font-size: 16px;
            margin-bottom: 8px;
            color: #424551;
            font-weight: 400;
    }

    &__input {
        width: 390px;
        padding: 13px 16px 13px 16px;
            background: #f4f5f6;
            border: 1px solid #d7dadd;
            border-radius: 1px;
            font-size: 16px;
            margin-bottom: 29px;
            font-family: Ubuntu, sans-serif;
            color: #9a9ca5;
    }

    &__comment-input {
        width: 100%;
            padding: 20px 16px 13px 16px;
            background: #f4f5f6;
            border: 1px solid #d7dadd;
            border-radius: 1px;
            font-size: 16px;
            // margin-bottom: 48px;
            font-family: Ubuntu, sans-serif;
            color: #9a9ca5;
    }

    &__btn {
        font-size: 16px;
            font-weight: 700;
            color: #fff;
            line-height: 44px;
            padding: 0 40px;
            background: #ff5a30;
            text-transform: uppercase;
            border-radius: 4px;
            transition: background .3s ease;
            border: 1px solid $primary;
    }

                &__btn:hover {
                    background: $main-white;
                    color: $primary;
                    border: 1px solid $primary;
                }


        @include respond-to($xl-tablet) {
            
            &__wrapper {
                display: block;
            }
            
                &__input {
                    width: 100%;
                    
                }

                                &__inner {
                                    margin-top: 60px;
                                    margin-bottom: 80px;
                                }
        }
}
