.services-content {
  position: relative;
  overflow: hidden;

  &__right {
    position: absolute;
    top: 681px;
    right: -30%;
    z-index: 1;
  }

  &__left {
    position: absolute;
    bottom: -40%;
    z-index: 1;
  }

  &__inner {
    position: relative;
    z-index: 2;
    margin-top: 120px;
  }

  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
    gap: 30px;
  }

  &__block-s {
    margin-bottom: 180px;
  }

  &__info {
    max-width: 575px;

    h2 {
      @include secondary-heading;
      margin-bottom: 32px;
    }

    p {
      @include base-regular;
      margin-bottom: 48px;
    }

    a {
      line-height: 44px;
      color: $primary;
      background: $main-white;
      border: 1px solid $primary;
      font-size: 14px;
      font-weight: 700;
      border-radius: 4px;
      padding: 15px 33px;
      text-transform: uppercase;
      transition: background 0.5s ease, color 0.5s ease;
    }

    a:hover {
      color: $main-white;
      background: $primary;
    }
  }

  @include respond-to($desktop) {
    &__inner {
      margin-top: 80px;
    }

    &__block {
      display: block;
      position: relative;
      margin-bottom: 80px;
      margin-right: auto;
      margin-left: auto;
      max-width: 575px;
    }

    &__block-s {
      margin-bottom: 90px;
    }

    &__block::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $gray-800;
      opacity: 0.8;
    }

    &__info {
      max-width: 520px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      text-align: center;
      width: 100%;
      padding: 15px;

      h2 {
        @include secondary-heading;

        color: $main-white;
      }

      p {
        @include base-regular;

        color: $gray-200;
      }

      a {
        background: $primary;
        color: $main-white;
      }

      a:hover {
        color: $primary;
        background: $main-white;
      }
    }
  }

  @include respond-to($s-mobile) {
    &__info {
      padding: 10px;

      h2 {
        font-size: 20px;
        margin-bottom: 10px;
      }

      p {
        font-size: 11px;
        line-height: 16px;
        margin-bottom: 8px;
      }

      a {
        padding: 9px 19px;
      }
    }

    &__block {
      margin-bottom: 40px;
    }
  }
}

.offer {
  &__inner {
    margin-top: 120px;
    display: flex;
    gap: 105px;
  }

  &__img {
    max-width: 705px;
    max-height: 440px;
  }

  &__content {
    max-width: 420px;
  }

  &__block {
    padding-left: 42px;
    margin-bottom: 24px;
    position: relative;
  }

  &__plus {
    position: absolute;
    left: 0;
    top: 10%;
    cursor: pointer;
    transition: transform 0.5s ease;
  }

  .expanded .offer__plus {
    transform: rotate(180deg);
  }

  &__title {
    @include main-heading;
    margin-bottom: 68px;
  }

  &__block-title {
    @include third-heading;
    margin-bottom: 12px;
    cursor: pointer;
    transition: color 0.3s ease;
    line-height: 42px;
  }

  &__block-title:hover {
    color: $primary;
  }

  &__text {
    opacity: 0;
    @include base-regular;
  display: none;
  animation: slideDown 1s ease forwards;
  }

    @keyframes slideDown {
      0% {
        opacity: 0;
        transform: translateY(-20px);
       
      }
  
      100% {
        opacity: 1;
        transform: translateY(0);
       
      }
    }


  &__block.expanded .offer__text {
    display: block;
    opacity: 1;
  }

  @include respond-to($l-desktop) {
    &__inner {
      display: block;
    }

    &__title {
      text-align: center;
      margin-bottom: 48px;
    }

    &__content {
      margin-right: auto;
      margin-left: auto;
      max-width: 505px;
    }

    &__img {
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 20px;
      width: 100%;
    }
  }

  @include respond-to($mobile) {
    &__inner {
      margin-top: 80px;
    }

    &__title {
      font-size: 36px;
      margin-bottom: 28px;
    }

    &__block-title {
      font-size: 18px;
      line-height: 22px;
    }

    &__text {
      font-size: 14px;
    }
  }
}

.steps {
  &__inner {
    margin-top: 180px;
  }

  &__title {
    @include main-heading;
    margin-bottom: 65px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }

  &__item {
    max-width: 285px;
    cursor: pointer;
  }

  &__item:hover {
    .steps__item-number {
      position: relative;
      color: $primary;
    }

    .steps__item-number::before {
      content: "";
      position: absolute;
      width: 84px;
      height: 84px;
      border-radius: 50px;
      background-color: $primary;
      opacity: 12%;
      top: 50%;
      left: 10%;
      transform: translate(-50%, -50%);
    }

    .steps__item-title {
      position: relative;
    }

    .steps__item-title::before {
      content: "";
      position: absolute;
      width: 116px;
      height: 116px;
      border-radius: 50%;
      background-color: $primary;
      opacity: 6%;
      top: -160%;
      left: 10%;
      transform: translate(-50%, -50%);
    }
  }

  &__item-number::after {
    content: "";
    width: 209px;
    height: 1px;
    border: 1px dashed rgba(215, 218, 221, 1);
    position: absolute;
    top: 30px;
    right: 0;
  }

  &__list li:last-child .steps__item-number::after {
    display: none;
  }

  &__item-number {
    @include main-heading;
    color: $gray-400;
    margin-bottom: 23px;
    position: relative;
  }

  &__item-title {
    @include lead-bold;
    margin-bottom: 8px;
  }

  &__item-text {
    @include base-regular;
  }

  @include respond-to($l-desktop) {
    &__list {
      display: block;
    }

    &__item-number::after {
      display: none;
    }

    &__item {
      display: flex;
      position: relative;
      max-width: 925px;
      margin-bottom: 130px;
    }

    &__item::before {
      content: "";
      height: 130px;
      width: 1px;
      border: 1px dashed rgba(215, 218, 221, 1);
      position: absolute;
      top: 90px;
      left: 45px;
    }

    &__list li:last-child::before {
      display: none;
    }

    &__item-content {
      margin-top: 20px;
      margin-left: 20px;
    }

    &__item-number {
      font-size: 76px;
      margin-bottom: 0;
    }

    &__item-title {
      font-size: 35px;
    }

    &__item-text {
      font-size: 26px;
    }

    &__item:hover {
      .steps__item-number::before {
        background-color: transparent;
      }

      .steps__item-title::before {
        background-color: transparent;
      }
    }
  }

  @include respond-to($m-tablet) {
    &__item-text {
      font-size: 19px;
    }

    &__item {
      margin-bottom: 90px;
    }

    &__item-title {
      font-size: 25px;
    }

    &__list li:nth-last-child(-n + 2) {
      margin-bottom: 90px;
    }

    &__item::before {
      height: 80px;
    }
  }

  @include respond-to($m-mobile) {
    &__inner {
      margin-top: 80px;
    }

    &__item::before {
      height: 120px;
    }
  }

  @include respond-to($l-mobile) {
    &__item {
      margin-bottom: 40px;
    }

    &__list li:nth-last-child(-n + 2) {
      margin-bottom: 50px;
    }
  }
}

.benefits {
  &__inner {
    padding-top: 80px;
    padding-bottom: 126px;
    background: $gray-900;
    text-align: center;
    margin-top: 120px;
    position: relative;
  }

  &__title {
    color: $main-white;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item-title {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    margin-bottom: 10px;
    color: $main-white;
  }

  &__item-text {
    font-size: 16px;
    line-height: 26px;
    opacity: 60%;
    color: $main-white;
    max-width: 285px;
  }

  &__item-line-r {
    position: relative;
  }

  &__item-line-r::after {
    content: "";
    height: 188px;
    width: 1px;
    position: absolute;
    border: 1px solid;
    top: 0;
    right: -40%;
    background: $main-white;
    opacity: 40%;
    border-image-source: linear-gradient(
      270.01deg,
      rgba(218, 219, 221, 0) 0%,
      rgba(218, 219, 221, 0.5) 12.33%,
      #dadbdd 51.91%,
      rgba(218, 219, 221, 0.5) 87.85%,
      rgba(218, 219, 221, 0) 100%
    );
  }

  &__btn {
    padding: 1px 116px;
    position: absolute;
    bottom: -10%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  img {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 24px;
  }

  @include respond-to($l-desktop) {
    &__item-line-r::after {
      right: -20%;
    }

    &__btn {
      bottom: 0;
      font-size: 12px;
      padding: 0 50px;
    }
  }

  @include respond-to($m-desktop) {
    &__item-line-r::after {
      right: -10%;
    }
  }

  @include respond-to($desktop) {
    &__list {
      display: block;
    }

    &__item {
      margin-bottom: 60px;
    }

    &__item-text {
      margin-right: auto;
      margin-left: auto;
    }

    &__inner {
      padding-bottom: 80px;
    }

    &__item-line-r::after {
      display: none;
    }
  }

  @include respond-to($s-mobile) {
    &__btn {
      padding: 0 10px;
    }
  }
}

.portfolio-des {
    background: $main-white;
    position: relative;
    z-index: 3;
    padding-bottom: 105px;
  &__inner {
    margin-top: 180px;
    position: relative;
   
  }

  &__swiper-button-prev {
    top: var(--swiper-navigation-top-offset, 6%);
    right: var(--swiper-navigation-sides-offset, 50px);
    left: auto;
  }

  &__swiper-button-next {
    top: var(--swiper-navigation-top-offset, 6%);
    right: var(--swiper-navigation-sides-offset, 0);
    left: auto;
  }

  @include respond-to($l-desktop) {
    &__swiper-button-prev {
      top: var(--swiper-navigation-top-offset, 87%);
    }

    &__swiper-button-next {
      top: var(--swiper-navigation-top-offset, 87%);
    }
  }

  @include respond-to($mobile) {
    h5 {
      font-size: 19px;
    }
  }
}

.pricing {
  &__inner {
    // margin-top: 105px;
    padding-top: 80px;
    padding-bottom: 120px;
    background: $gray-200;
    text-align: center;
    position: relative;
  }

  table {
    position: relative;
    z-index: 3;
    border-collapse: collapse;
    width: 100%;
    background: $main-white;
    border: 1px solid rgba(229, 232, 237, 1);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  td,
  th {
    border: none;
  }

  &__bg {
    position: absolute;
    top: -50%;
    left: 0;
    z-index: 2;
  }

  &__table-main-title {
    font-weight: 700;
    font-size: 19px;
    line-height: 27px;
    color: $gray-900;
    text-align: start;
    padding-left: 24px;
    vertical-align: bottom;
    padding-bottom: 24px;
  }

  &__table-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: $gray-900;
    margin-bottom: 2px;
  }

  &__table-subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: $gray-700;
  }

  &__table-main {
    padding-bottom: 24px;
    width: 245px;
    padding-top: 32px;
    transition: transform 0.3s ease;
    cursor: pointer;
  }

  &__table-secondary {
    font-size: 16px;
    line-height: 25px;
    color: $gray-800;
    text-align: start;
    padding-left: 24px;
  }

  &__table-line {
    height: 58px;
  }

  table img {
  margin-right: auto;
  margin-left: auto;
  }

  &__table-line-gray {
    background: $gray-200;
    border: none;
  }

  &__table-btn {
    height: 36px;
    border: 1px solid rgba(255, 90, 48, 1);
    border-radius: 4px;
    color: $primary;
    font-size: 12px;
    font-weight: 700;
    background: $main-white;
    padding: 0 24px;
    margin-top: 32px;
    margin-bottom: 32px;
    text-transform: uppercase;
    transition: background 0.3s ease-in, color 0.3s ease-in;
  }

  &__table-btn:hover {
    color: $main-white;
    background: $primary;
  }

    
    &__table-main:hover{
      transform: scale(1.1);
     
      
     
    }


.pricing-modal {
  display: none;
  /* Початково приховуємо модальне вікно */
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  /* Напівпрозорий чорний колір */


  &__content {
      background-color: #fefefe;
      margin: 15% auto;
     
      border: 1px solid #888;
      max-width: 390px;
      border: 1px solid $primary;
      border-radius: 4px;
    }
  
    &__close {
      color: $gray-600;
      float: right;
      font-size: 28px;
      font-weight: bold;
      margin-right: 10px;
    }
  
    &__close:hover,
    &__close:focus {
      color: $main-white;
      text-decoration: none;
      cursor: pointer;
    }

&__title-wrapper {
  background: $primary;
  padding-top: 29px;
  padding-bottom: 29px;
}

&__title {
  font-weight: 700;
  font-size: 27px;
  color: $main-white;
}

&__content-wrapper {
  padding: 24px 58px 40px 58px;
 
}

&__price {
  font-size: 20px;
  color: $gray-900;
  margin-bottom: 24px;

  span {
    font-weight: 700;
    font-size: 46px;
    color: $primary;
    margin-right: 16px;
    margin-left: 16px;
  }
}

&__list {
  text-align: start;
}

&__item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;

  img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }

  p {
    font-size: 16px;
    line-height: 25px;
    color: $gray-800;
  }
}

&__text-spec {
  color: $gray-600;
}

.pricing__table-btn {
  margin-bottom: 0;
}
}





  @include respond-to($m-desktop) {
    &__table-main {
      max-width: 175px;
    }
  }

  @include respond-to($desktop) {
    &__table-main-title {
      font-size: 16px;
    }

    &__table-title {
      font-size: 18px;
    }

    &__table-subtitle {
      font-size: 14px;
    }

    &__table-btn {
      height: 29px;

      font-size: 10px;

      padding: 0 14px;
      margin-top: 21px;
      margin-bottom: 21px;
    }

    &__table-main {
      padding-bottom: 14px;
      width: 115px;
      padding-top: 22px;
    }
  }

        @include respond-to($m-mobile) {
            &__table-main-title {
                font-size: 12px;
                line-height: 15px;
            }
    
            &__table-title {
                font-size: 12px;
                line-height: 15px;
            }
    
            &__table-subtitle {
                font-size: 9px;
                line-height: 15px;
            }
    
            &__table-btn {
                height: 19px;
    
                font-size: 6px;
    
                padding: 0 2px;
                margin-top: 11px;
                margin-bottom: 11px;
            }
    
            &__table-main {
                padding-bottom: 11px;
                width: 65px;
                padding-top: 11px;
            }

                         &__table-secondary {
                             font-size: 10px;
                             line-height: 15px;
                            
                             padding-left: 6px;
                         }
            
                         &__table-line {
                             height: 38px;
                         }
            
                         img {
                            width: 14px;
                            height: 14px;
                         }

                         td {
                            font-size: 10px;
                         }

                                                  &__inner {
                                                      margin-top: 80px;
                                                      padding-top: 30px;
                                                      padding-bottom: 80px;
                                                      
                                                  }
        }

        
}

.clients-des {
    &__inner {
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 120px;
    }
}
