// @import "fonts";
@import "nullStyle.scss";
@import "variables.scss";
@import "homePage.scss";
@import "services.scss";

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  margin: 0;
  background: $main-white;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.block {
  &__title {
    @include main-heading;
    margin-bottom: 30px;
  }

  &__text {
    font-size: 18px;
    line-height: 24px;
    color: $gray-700;
    margin-bottom: 60px;
  }
  @include respond-to($tablet) {
    &__title {
      font-size: 38px;
      margin-bottom: 20px;
    }

    &__text {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 40px;
    }
  }

  @include respond-to($l-mobile) {
    &__title {
      font-size: 28px;
      margin-bottom: 10px;
    }

    &__text {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 30px;
    }
  }
}

.view-all {
  &__btn-wrapper {
    // margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  &__btn-subtitle {
    @include third-heading;
  }

  &__btn {
    @include main-btn;
    padding: 0 46px;
    line-height: 52px;
    transition: background 0.5s ease;
    font-size: 16px;
  }

  &__btn:hover {
    background: $danger;
  }

  @include respond-to($m-tablet) {
    &__btn-subtitle {
      font-size: 21px;
    }
  }

  @include respond-to($s-mobile) {
    &__btn-wrapper {
      display: block;
      margin-right: auto;
      margin-left: auto;
      margin-top: 40px;
    }

    &__btn-subtitle {
      margin-bottom: 25px;
    }

    &__btn {
      padding: 11px 36px;
    }
  }
}

//////////////header///////////////////////

.header {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 23px;
    padding-bottom: 27px;
  }

  &__social-wrapper {
    display: flex;
    align-items: center;
    gap: 36px;
  }

  &__logo-wrapper {
    position: relative;
      z-index: 3;
  }

  &__img-wrapper {
    display: flex;
    align-items: center;
    gap: 9px;
  }

  &__social-list {
    font-size: 18px;
    color: $gray-900;
    transition: color 0.3s ease;
    position: relative;

    a:hover {
      color: $primary;
    }
  }
  @include respond-to($l-desktop) {
    &__social-list {
      font-size: 16px;
    }

    &__social-wrapper {
      margin-right: 60px;
    }

    &__dropdown {
      display: none;
      position: absolute;
      top: 90px;
      top: 195%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba(255, 255, 255, 0);
      padding: 10px;
      padding-top: 30px;
      width: 160px;
      z-index: 101;
      transition: background-color 0.5s ease;
    }

    &__img-wrapper {
      cursor: pointer;
    }

    &__img-wrapper:hover {
      .header__dropdown {
        display: block;
        background-color: rgba(255, 255, 255, 0.8);
      }
    }
  }

  @include respond-to($desktop) {
    &__social-wrapper {
      justify-content: center;
      text-align: start;
      margin-right: 0;
    }

    &__social-list {
      font-size: 15px;
    }

    &__dropdown {
      display: block;
      position: static;
      transform: none;
      padding: 0;
      width: auto;
    }
  }

  @include respond-to($m-mobile) {
    &__social-wrapper {
      display: block;
      margin-right: auto;
    }

    &__social-list {
      margin-left: 30%;
      margin-bottom: 10px;
    }
  }
}

.menu {
  &__list {
    display: flex;
    align-items: center;
    gap: 40px;
    // margin-left: -13%;
    position: relative;
    z-index: 100;
    float: right;
  }

  &__item {
    font-size: 16px;
    font-weight: 700;
    color: $gray-800;
    transition: color 0.3s ease;
  }

  &__link {
    color: $gray-800;
    transition: color 0.3s ease;
  }

&__link.active {
  color: $primary;
}

  &__item:nth-last-child(1) {
    margin-left: 130px;
  }

  &__item:hover {
    color: $gray-600;
  }

  &__button {
    display: none;
    height: 19px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 52px;
    position: relative;
    z-index: 2;
  }

  &__line {
    background-color: $gray-800;
    height: 3px;
    width: 40px;
    border-radius: 5px;
  }

  &__close {
    display: none;
  }

  &--close {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: -5px;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    transition: background-color 0.3s ease;
    // height: 0;
    // overflow: hidden;
  }

  &--close {
    &.menu--open {
      display: block;
    }
  }

  @include respond-to($LapTop) {
    &__item:nth-last-child(1) {
      margin-left: 100px;
    }
  }

  @include respond-to($l-desktop) {
    &__item:nth-last-child(1) {
      margin-left: 145px;
    }
  }

  @include respond-to($desktop) {
    &__list {
      transform: translateY(-100%);
      position: absolute;
      top: -10px;
      right: 0;
      width: 100%;
      max-height: 500px;
      background-color: $main-white;
      color: $gray-800;
      display: block;
      text-align: center;
      padding-top: 71px;
      padding-bottom: 23px;
      transition: transform 0.5s ease;
    }

    &__list {
      &--open {
        transform: translateY(0%);
      }
    }

    &__item::after {
      content: "";
      display: block;
      width: 100%;
      border-bottom: 1px solid $gray-300;
      margin-top: 22px;
      margin-bottom: 22px;
      position: static;
      height: 0;
      border-top: none;
    }

    &__item:nth-last-child(1)::after {
      display: none;
    }

    &__close {
      display: block;
    }

    &__close-btn {
      position: absolute;
      top: 20px;
      right: 20px;
    }

    &__button {
      display: flex;
      // position: absolute;
      //     right: 0;
      //     top: 25px;
      margin-top: 0;
    }

    &__item:nth-last-child(1) {
      margin-left: 0;
    }
  }

  @include respond-to($s-tablet) {
    &__line {
      width: 30px;
    }

    &__item {
      font-size: 15px;
    }
  }
}

////////////application////////////////////

.application {
  &__inner {
    position: relative;

    img {
      width: 100%;
      object-fit: cover;
      height: 826px;
      object-position: center;
      display: block;
      margin: 0 auto;

      @include respond-to($l-desktop) {
      }
    }
  }

  &__form {
    width: 495px;
    padding: 48px 40px;
    border-radius: 4px;
    background: $main-white;
    position: absolute;
    top: 50%;
    // right: 345px;
    left: 69%;
    transform: translate(-50%, -50%);
    border: 1px solid rgba(229, 232, 237, 1);
    box-shadow: 0px 60px 80px -20px rgba(30, 33, 44, 0.16);
  }

  &__title {
    @include third-heading;
    text-align: center;
    margin-bottom: 26px;
    line-height: 42px;
  }

  &__subtitle {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: $gray-800;
    font-weight: 400;
  }

  &__input {
    width: 100%;
    padding: 12px 16px 12px 16px;
    background: $gray-200;
    border: 1px solid rgba(215, 218, 221, 1);
    border-radius: 1px;
    font-size: 14px;
    margin-bottom: 29px;
    font-family: "Ubuntu", sans-serif;
    color: $gray-600;
  }

  &__input:focus {
    border-color: 1px solid rgba(255, 90, 48, 0.4);
    box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    box-shadow: 0px 12px 10px -6px rgba(255, 90, 48, 0.04);
    box-shadow: 0px 30px 24px -10px rgba(255, 90, 48, 0.05);
    box-shadow: 0px 80px 80px -20px rgba(255, 90, 48, 0.08);
  }

  &__agree {
    font-size: 14px;
    color: $gray-800;
    padding-left: 30px;
    line-height: 21px;
    position: absolute;
  }

  &__checkbox-wrapper {
    display: flex;
    align-items: start;
    position: relative;
  }

  &__checkbox {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    z-index: 1;
  }

  &__custom-checkbox {
    // display: inline-block;
    width: 16px;
    height: 16px;
    background: $main-white;
    border: 1px solid rgba(179, 183, 188, 1);
    border-radius: 1px;
    position: relative;
    margin-top: 1px;
  }

  &__custom-checkbox::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 8px;
    background-image: url("@img/icons/check.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.2s ease-in;
  }

  &__checkbox:checked + &__custom-checkbox::before {
    transform: translate(-50%, -50%) scale(1);
  }

  &__checkbox:checked + &__custom-checkbox {
    background: $primary;
    border: $primary;
  }

  &__btn {
    @include main-btn;
  }

  &__btn:hover {
    background: rgba(252, 51, 0, 1);
  }

  &__btn-wrapper {
    margin-top: 44px;
    text-align: center;
  }

  @include respond-to($l-desktop) {
    &__form {
      left: 50%;
    }
  }

  @include respond-to($m-tablet) {
    &__inner {
      img {
        height: 626px;
      }
    }

    &__form {
      width: 395px;
      padding: 38px 30px;
    }

    &__title {
      font-size: 16px;
      margin-bottom: 10px;
    }

    &__subtitle {
      font-size: 12px;
      margin-bottom: 5px;
    }

    &__input {
      margin-bottom: 10px;
    }
  }

  @include respond-to($m-mobile) {
    &__inner {
      img {
        height: 526px;
      }
    }

    &__form {
      width: 290px;
      padding: 18px 10px;
    }

    &__agree {
      font-size: 12px;
    }
  }
}

/////////////////footer/////////////////////

.footer {
  &__wrapper {
    background: $gray-900;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  &__form-section {
    display: flex;
    justify-content: space-between;
  }

  &__form-about-wrapper {
    display: flex;
    gap: 60px;
    margin-bottom: 24px;
  }

  &__form-social-list {
    display: flex;
    gap: 16px;

    img {
      fill: $main-white;
      opacity: 0.6;
    }

    img:hover {
      opacity: 1;
    }
  }

  &__form-text {
    font-size: 14px;
    color: $main-white;
    max-width: 493px;
    opacity: 0.6;
    line-height: 21px;
  }

  &__form-title {
    @include fourth-heading;
    color: $main-white;
    margin-bottom: 31px;
  }

  &__plus {
    display: none;
  transition: transform 0.3s ease;
  }
  
  &__plus.open {
    transform: rotate(45deg);
  }

  &__form-subscribe {
    margin-bottom: 16px;

    input {
      // max-width: 364px;
      width: 73%;
      max-width: 600px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      background: rgba(255, 255, 255, 0.12);
      padding: 11px 0 12px 16px;
      color: $main-white;
      font-size: 15px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &__form-subscribe-btn {
    @include main-btn;
    padding: 0 25px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -5px;
  }

  &__form-subscribe-btn:hover {
    background: $danger;
  }

  &__form-subscribe-text {
    font-size: 12px;
    color: $main-white;
line-height: 18px;
    opacity: 0.6;
    max-width: 495px;
  }

  &__nav-section {
    margin-top: 49px;
  }

  &__nav-list {
    display: flex;
    gap: 125px;
  }

  &__nav-block-title {
    @include sixth-heading;
    color: $main-white;
    margin-bottom: 18px;
    font-size: 18px;
  }

  &__contact {
    color: $main-white;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 4px;

    span,
    a {
      opacity: 0.6;
      cursor: pointer;
    }

    span:hover,
    a:hover {
      opacity: 1;
    }
  }

  &__nav-block-item {
    a {
      margin-bottom: 6px;
      color: $main-white;
      font-size: 16px;
      line-height: 27px;
      opacity: 0.6;
    }

    a:hover {
      opacity: 1;
    }
  }

  &__section {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }

  &__rights {
    display: flex;
    align-items: flex-end;

    img {
      width: 16px;
      height: 16px;
      margin-right: 4px;
      margin-left: 4px;
    }

    p {
      font-size: 12px;
      color: $main-white;
    }
  }

  &__btn-top-wrapper {
    display: flex;
    align-items: flex-end;

    p {
      font-size: 14px;
      color: $main-white;
      margin-right: 16px;
    }

    a {
      width: 40px;
      height: 40px;
      background-color: $primary;
      border-radius: 4px;
      position: relative;

      a:hover {
        background-color: $danger;
      }

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  @include respond-to($l-desktop) {
    &__form-section {
      display: block;
    }

    &__form-about-wrapper {
      justify-content: center;
    }

    &__form-text {
      text-align: center;
      margin-right: auto;
      margin-left: auto;
    }

    &__form-about {
      margin-bottom: 35px;
    }

    &__form-text {
      max-width: 690px;
    }

    &__form-subscribe-wrapper {
      text-align: center;
      max-width: 540px;
      margin-right: auto;
      margin-left: auto;
    }

    &__form-subscribe-text {
      margin-right: auto;
      margin-left: auto;
    }

    &__nav-list {
      gap: 20px;
      justify-content: space-between;
    }

    &__nav-blocks {
      max-width: 210px;
    }
  }

  @include respond-to($m-mobile) {
    &__form-about-wrapper {
      display: block;

      img {
        margin-right: auto;
        margin-left: auto;
      }
    }

    &__form-social-list {
      margin-top: 15px;
      justify-content: center;
    }

    &__form-subscribe {
      margin-bottom: 16px;

      input {
        width: 60%;
      }
    }

    &__form-subscribe-btn {
      padding: 0 10px;
    }

    &__nav-list {
      display: block;
    }

    &__nav-item {
      margin-bottom: 30px;
      
    }

&__nav-mob {
position: relative;
z-index: 2;
}

&__nav-block-item {
  position: relative;
}

&__nav-blocks {
  max-width: 100%;
}

    &__section {
      display: block;
    }

    &__rights {
      justify-content: center;
      margin-bottom: 25px;

      p {
        font-size: 10px;
      }
    }

    &__btn-top-wrapper {
      justify-content: end;
    }

    &__sub-menu {
      display: none;
    }

        &__sub-menu.open {
          display: block;
        }

                &__plus {
                  display: block;
                  position: absolute;
                  top: 5%;
                   right: 0;
                    
                  z-index: 2;
                }
  }
}

////////////////main//////////////////

.main {
background: $gray-200;

&__bg {
  position: absolute;
  top: 0;
  right: 0;
  height: 600px;
  object-fit: cover;
  object-position: right;
}

&__header-wrapper {
  background: $gray-200;
}

&__inner {
  padding-top: 60px;
  // 
  height: 510px;
  position: relative;
  margin-top: -1px;
}

&__breadcrumb {
  a {
    @include small-regular;
    color: $gray-800;
  }
margin-bottom: 40px;
}

&__link.active{
color: $gray-600;
}

&__title {
  @include display-f;
  margin-bottom: 24px;
  max-width: 600px;
}

&__text {
  @include lead-regular;
  max-width: 600px;
}

@include respond-to($m-desktop) {

  &__bg {
    opacity: 0.4;
  }

    &__inner {
      padding-top: 40px;
      height: 530px;
    }
  
    &__breadcrumb {
      a {
       font-size: 12px;
      }
  
      margin-bottom: 30px;
    }
  
    &__title {
     font-size: 62px;
      margin-bottom: 24px;
    }
  
    &__text {
      font-size: 18px;
      line-height: 25px;
    }
}
}