// @import "fonts";
@import "nullStyle.scss";
@import "variables.scss";

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  margin: 0;
  background: $main-white;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.block {
  &__title {
    @include main-heading;
    margin-bottom: 30px;
  }

  &__text {
    font-size: 18px;
    line-height: 24px;
    color: $gray-700;
    margin-bottom: 60px;
  }
  @include respond-to($tablet) {
    &__title {
      font-size: 38px;
      margin-bottom: 20px;
    }

    &__text {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 40px;
    }
  }

  @include respond-to($l-mobile) {
    &__title {
      font-size: 28px;
      margin-bottom: 10px;
    }

    &__text {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 30px;
    }
  }
}

//////////////header///////////////////////

.header {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 23px;
    padding-bottom: 27px;
  }

  &__social-wrapper {
    display: flex;
    align-items: center;
    gap: 36px;
  }

  &__img-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__social-list {
    font-size: 18px;
    color: $gray-900;
    transition: color 0.3s ease;
    position: relative;

    a:hover {
      color: $primary;
    }
  }
  @include respond-to($l-desktop) {
    &__social-list {
      font-size: 16px;
    }

    &__social-wrapper {
      margin-right: 60px;
    }

    &__dropdown {
      display: none;
      position: absolute;
      top: 90px;
      top: 195%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba(255, 255, 255, 0);
      padding: 10px;
      padding-top: 30px;
      width: 160px;
      z-index: 101;
      transition: background-color 0.5s ease;
    }

    &__img-wrapper {
      cursor: pointer;
    }

    &__img-wrapper:hover {
      .header__dropdown {
        display: block;
        background-color: rgba(255, 255, 255, 0.8);
      }
    }
  }

  @include respond-to($desktop) {
    &__social-wrapper {
      justify-content: center;
      text-align: start;
      margin-right: 0;
    }

    &__social-list {
      font-size: 15px;
    }

    &__dropdown {
      display: block;
      position: static;
      transform: none;
      padding: 0;
      width: auto;
    }
  }

  @include respond-to($m-mobile) {
    &__social-wrapper {
      display: block;
      margin-right: auto;
    }

    &__social-list {
      margin-left: 30%;
      margin-bottom: 10px;
    }
  }
}

.menu {
  &__list {
    display: flex;
    align-items: center;
    gap: 40px;
    // margin-left: -13%;
    position: relative;
    z-index: 100;
    float: right;
  }

  &__item {
    font-size: 16px;
    font-weight: 700;
    color: $gray-800;
    transition: color 0.3s ease;
  }

  &__item:nth-last-child(1) {
    margin-left: 130px;
  }

  &__item:hover {
    color: $gray-600;
  }

  &__button {
    display: none;
    height: 19px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 52px;
    position: relative;
    z-index: 2;
  }

  &__line {
    background-color: $gray-800;
    height: 3px;
    width: 40px;
    border-radius: 5px;
  }

  &__close {
    display: none;
  }

  &--close {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: -5px;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    transition: background-color 0.3s ease;
    // height: 0;
    // overflow: hidden;
  }

  &--close {
    &.menu--open {
      display: block;
    }
  }

  @include respond-to($LapTop) {
    &__item:nth-last-child(1) {
      margin-left: 100px;
    }
  }

  @include respond-to($l-desktop) {
    &__item:nth-last-child(1) {
      margin-left: 145px;
    }
  }

  @include respond-to($desktop) {
    &__list {
      transform: translateY(-100%);
      position: absolute;
      top: -10px;
      right: 0;
      width: 100%;
      max-height: 500px;
      background-color: $main-white;
      color: $gray-800;
      display: block;
      text-align: center;
      padding-top: 71px;
      padding-bottom: 23px;
      transition: transform 0.5s ease;
    }

    &__list {
      &--open {
        transform: translateY(0%);
      }
    }

    &__item::after {
      content: "";
      display: block;
      width: 100%;
      border-bottom: 1px solid $gray-300;
      margin-top: 22px;
      margin-bottom: 22px;
      position: static;
      height: 0;
      border-top: none;
    }

    &__item:nth-last-child(1)::after {
      display: none;
    }

    &__close {
      display: block;
    }

    &__close-btn {
      position: absolute;
      top: 20px;
      right: 20px;
    }

    &__button {
      display: flex;
      // position: absolute;
      //     right: 0;
      //     top: 25px;
      margin-top: 0;
    }

    &__item:nth-last-child(1) {
      margin-left: 0;
    }
  }

  @include respond-to($s-tablet) {
    &__line {
      width: 30px;
    }

    &__item {
      font-size: 15px;
    }
  }
}

////////////application////////////////////

.application {
  &__inner {
    position: relative;

    img {
      width: 100%;
      object-fit: cover;
      height: 826px;
      object-position: center;
      display: block;
      margin: 0 auto;

      @include respond-to($l-desktop) {
      }
    }
  }

  &__form {
    width: 495px;
    padding: 48px 40px;
    border-radius: 4px;
    background: $main-white;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    border: 1px solid rgba(229, 232, 237, 1);
    box-shadow: 0px 60px 80px -20px rgba(30, 33, 44, 0.16);
  }

  &__title {
    @include third-heading;
    text-align: center;
    margin-bottom: 24px;
  }

  &__subtitle {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: $gray-800;
    font-weight: 400;
  }

  &__input {
    width: 100%;
    padding: 11px 16px 12px 16px;
    background: $gray-200;
    border: 1px solid rgba(215, 218, 221, 1);
    border-radius: 1px;
    font-size: 14px;
    margin-bottom: 20px;
    font-family: "Ubuntu", sans-serif;
    color: $gray-600;
  }

  &__input:focus {
    border-color: 1px solid rgba(255, 90, 48, 0.4);
    box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    box-shadow: 0px 12px 10px -6px rgba(255, 90, 48, 0.04);
    box-shadow: 0px 30px 24px -10px rgba(255, 90, 48, 0.05);
    box-shadow: 0px 80px 80px -20px rgba(255, 90, 48, 0.08);
  }

  &__agree {
    font-size: 14px;
    color: $gray-800;
    padding-left: 30px;
    position: absolute;
  }

  &__checkbox-wrapper {
    display: flex;
    align-items: start;
    position: relative;
  }

  &__checkbox {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    z-index: 1;
  }

  &__custom-checkbox {
    // display: inline-block;
    width: 16px;
    height: 16px;
    background: $main-white;
    border: 1px solid rgba(179, 183, 188, 1);
    border-radius: 1px;
    position: relative;
    margin-top: 1px;
  }

  &__custom-checkbox::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 8px;
    background-image: url("@img/icons/check.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.2s ease-in;
  }

  &__checkbox:checked + &__custom-checkbox::before {
    transform: translate(-50%, -50%) scale(1);
  }

  &__checkbox:checked + &__custom-checkbox {
    background: $primary;
    border: $primary;
  }

  &__btn {
    @include main-btn;
  }

  &__btn:hover {
    background: rgba(252, 51, 0, 1);
  }

  &__btn-wrapper {
    margin-top: 34px;
    text-align: center;
  }

  @include respond-to($l-desktop) {
    &__form {
      left: 50%;
    }
  }

  @include respond-to($m-tablet) {
    &__inner {
      img {
        height: 626px;
      }
    }

    &__form {
      width: 395px;
      padding: 38px 30px;
    }

    &__title {
      font-size: 16px;
      margin-bottom: 10px;
    }

    &__subtitle {
      font-size: 12px;
      margin-bottom: 5px;
    }

    &__input {
      margin-bottom: 10px;
    }
  }

  @include respond-to($m-mobile) {
    &__inner {
      img {
        height: 526px;
      }
    }

    &__form {
      width: 290px;
      padding: 18px 10px;
    }

    &__agree {
      font-size: 12px;
    }
  }
}

/////////////////footer/////////////////////

.footer {
  &__wrapper {
    background: $gray-900;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  &__form-section {
    display: flex;
    justify-content: space-between;
  }

  &__form-about-wrapper {
    display: flex;
    gap: 60px;
    margin-bottom: 24px;
  }

  &__form-social-list {
    display: flex;
    gap: 16px;

    img {
      fill: $main-white;
      opacity: 0.6;
    }

    img:hover {
      opacity: 1;
    }
  }

  &__form-text {
    font-size: 14px;
    color: $main-white;
    max-width: 493px;
    opacity: 0.6;
  }

  &__form-title {
    @include fourth-heading;
    color: $main-white;
    margin-bottom: 24px;
  }

  &__form-subscribe {
    margin-bottom: 16px;

    input {
      // max-width: 364px;
      width: 73%;
      max-width: 600px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      background: rgba(255, 255, 255, 0.12);
      padding: 11px 0 12px 16px;
      color: $main-white;
      font-size: 15px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &__form-subscribe-btn {
    @include main-btn;
    padding: 0 25px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -5px;
  }

  &__form-subscribe-btn:hover {
    background: $danger;
  }

  &__form-subscribe-text {
    font-size: 12px;
    color: $main-white;

    opacity: 0.6;
    max-width: 495px;
  }

  &__nav-section {
    margin-top: 49px;
  }

  &__nav-list {
    display: flex;
    gap: 125px;
  }

  &__nav-block-title {
    @include sixth-heading;
    color: $main-white;
    margin-bottom: 13px;
  }

  &__contact {
    color: $main-white;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 4px;

    span,
    a {
      opacity: 0.6;
      cursor: pointer;
    }

    span:hover,
    a:hover {
      opacity: 1;
    }
  }

  &__nav-block-item {
    a {
      margin-bottom: 4px;
      color: $main-white;
      font-size: 16px;
      line-height: 25px;
      opacity: 0.6;
    }

    a:hover {
      opacity: 1;
    }
  }

  &__section {
    display: flex;
    justify-content: space-between;
    margin-top: 38px;
  }

  &__rights {
    display: flex;
    align-items: flex-end;

    img {
      width: 16px;
      height: 16px;
      margin-right: 4px;
      margin-left: 4px;
    }

    p {
      font-size: 12px;
      color: $main-white;
    }
  }

  &__btn-top-wrapper {
    display: flex;
    align-items: flex-end;

    p {
      font-size: 14px;
      color: $main-white;
      margin-right: 16px;
    }

    a {
      width: 40px;
      height: 40px;
      background-color: $primary;
      border-radius: 4px;
      position: relative;

      a:hover {
        background-color: $danger;
      }

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  @include respond-to($l-desktop) {
    &__form-section {
      display: block;
    }

    &__form-about-wrapper {
      justify-content: center;
    }

    &__form-text {
      text-align: center;
      margin-right: auto;
      margin-left: auto;
    }

    &__form-about {
      margin-bottom: 35px;
    }

    &__form-text {
      max-width: 690px;
    }

    &__form-subscribe-wrapper {
      text-align: center;
      max-width: 540px;
      margin-right: auto;
      margin-left: auto;
    }

    &__form-subscribe-text {
      margin-right: auto;
      margin-left: auto;
    }

    &__nav-list {
      gap: 20px;
      justify-content: space-between;
    }

    &__nav-blocks {
      max-width: 210px;
    }
  }

  @include respond-to($m-mobile) {
    &__form-about-wrapper {
      display: block;

      img {
        margin-right: auto;
        margin-left: auto;
      }
    }

    &__form-social-list {
      margin-top: 15px;
      justify-content: center;
    }

    &__form-subscribe {
      margin-bottom: 16px;

      input {
        width: 60%;
      }
    }

    &__form-subscribe-btn {
      padding: 0 10px;
    }

    &__nav-list {
      display: block;
    }

    &__section {
      display: block;
    }

    &__rights {
      justify-content: center;
      margin-bottom: 25px;

      p {
        font-size: 10px;
      }
    }

    &__btn-top-wrapper {
      justify-content: end;
    }
  }
}

//////////////HOME_PAGE/////////////////

.hero {
  &__inner {
    position: relative;

    img {
      width: 100%;
    }
  }

  &__content {
    max-width: 605px;
    padding: 5px;
    margin-right: 630px;
    margin-bottom: 130px;
  }

  &__title {
    font-weight: 700;
    font-size: 72px;
    line-height: 93px;
    color: $main-white;

    span {
      color: $primary;
    }
  }

  &__text {
    font-size: 20px;
    line-height: 30px;
    color: $main-white;
    margin-top: 24px;
    margin-bottom: 61px;
  }

  &__btn-wrapper {
    display: flex;
  }

  &__sec-btn {
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 52px;
    padding: 0 40px;
    margin-right: 24px;
    text-transform: uppercase;
    color: $main-white;
    transition: color 0.3s ease;
  }

  &__sec-btn:hover {
    background: $gray-300;
    color: $gray-800;
  }

  &__main-btn {
    @include main-btn;
    padding: 0 40px;
    font-size: 16px;
    transition: background 0.3s ease;
  }

  &__main-btn:hover {
    background: $danger;
  }

  &__swiper-container {
    width: 100%;
    // max-height: 500px;
    height: 100%;
    overflow: hidden;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__swiper-slide {
    // text-align: center;
    // font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    // -webkit-box-pack: center;
    // -ms-flex-pack: center;
    // -webkit-justify-content: center;
    // justify-content: center;

    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  &__swiper-pagination {
    position: absolute;
    bottom: 6% !important;
    width: 60% !important;
    left: 48% !important;
    transform: translate(-50%, -50%);
    margin: 0;
  }

  &__swiper-pagination {
    text-align: start;
    line-height: 42px;
    font-size: 28px;
    color: $main-white;
  }

  &__swiper-pagination-bullet-active {
    color: #fff;
    opacity: 1;
  }

  &__swiper-button-prev,
  &__swiper-button-next {
    width: 48px;
    height: 48px;
    background-color: $gray-300;
    border-radius: 50px;
    transition: background-color 0.3s ease;

    img {
      width: 24px;
      height: 24px;
    }
  }

  &__swiper-button-prev:hover,
  &__swiper-button-next:hover {
    background-color: $gray-600;
  }

  @include respond-to($LapTop) {
    &__swiper-pagination {
      bottom: 3% !important;
      left: 50% !important;
      text-align: center;
    }

    &__content {
      margin-right: 0;
      margin-bottom: 0;
      text-align: center;
    }

    &__btn-wrapper {
      justify-content: center;
    }

    &__title {
      font-size: 42px;
    }

    &__text {
      font-size: 19px;
      margin-top: 14px;
      margin-bottom: 31px;
    }
  }

  @include respond-to($desktop) {
    &__title {
      line-height: 23px;
      font-size: 22px;
    }

    &__text {
      font-size: 9px;
      line-height: 15px;
      margin-top: 10px;
      margin-bottom: 15px;
      max-width: 320px;
    }

    &__sec-btn {
      font-size: 10px;
      line-height: 32px;
      padding: 0 20px;
      margin-right: 14px;
    }

    &__main-btn {
      font-size: 10px;
      line-height: 32px;
      padding: 0 20px;
    }

    &__swiper-pagination {
      line-height: 32px;
      font-size: 18px;
    }

    &__swiper-button-prev,
    &__swiper-button-next {
      width: 28px;
      height: 28px;

      img {
        width: 14px;
        height: 14px;
      }
    }
  }

  @include respond-to($m-mobile) {
    &__title {
      line-height: 18px;
      font-size: 15px;
    }

    &__text {
      font-size: 7px;
      line-height: 10px;
      margin-top: 5px;
      margin-bottom: 10px;
      max-width: 220px;
    }

    &__sec-btn {
      font-size: 8px;
      line-height: 22px;
      padding: 0 10px;
      margin-right: 10px;
    }

    &__main-btn {
      font-size: 8px;
      line-height: 22px;
      padding: 0 10px;
    }

    &__swiper-pagination {
      line-height: 22px;
      font-size: 10px;
    }

    &__swiper-button-prev,
    &__swiper-button-next {
      width: 18px;
      height: 18px;

      img {
        width: 8px;
        height: 8px;
      }
    }

    &__swiper-pagination {
      bottom: -10px !important;
    }
  }
}

.swiper-button-prev::after,
.swiper-button-next:after {
  content: "";
}

.swiper-pagination-bullet {
  width: var(
    --swiper-pagination-bullet-width,
    var(--swiper-pagination-bullet-size, 178px)
  );
  height: var(
    --swiper-pagination-bullet-height,
    var(--swiper-pagination-bullet-size, 2px)
  );
  display: inline-block;
  border-radius: var(--swiper-pagination-bullet-border-radius, 2%);
  background: var(--swiper-pagination-bullet-inactive-color, #fff);
  // opacity: var(--swiper-pagination-bullet-inactive-opacity, .3);

  @include respond-to($LapTop) {
    width: var(
      --swiper-pagination-bullet-width,
      var(--swiper-pagination-bullet-size, 78px)
    );
  }

  @include respond-to($desktop) {
    width: var(
      --swiper-pagination-bullet-width,
      var(--swiper-pagination-bullet-size, 48px)
    );
  }

  @include respond-to($m-mobile) {
    width: var(
      --swiper-pagination-bullet-width,
      var(--swiper-pagination-bullet-size, 28px)
    );
  }
}

:root {
  --swiper-theme-color: #fff;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: var(--swiper-navigation-sides-offset, 32px);
  right: auto;

  @include respond-to($m-mobile) {
    left: var(--swiper-navigation-sides-offset, 10px);
  }
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: var(--swiper-navigation-sides-offset, 32px);
  left: auto;

  @include respond-to($m-mobile) {
    right: var(--swiper-navigation-sides-offset, 10px);
  }
}

.video {
  &__inner {
    text-align: center;
    margin-top: 120px;
    position: relative;
  }

  &__block-wrapper {
    position: relative;
  }

  &__block {
    text-align: center;
    position: relative;
    overflow: hidden;
    max-width: 1230px;
    padding-bottom: 56.2%;
    border-radius: 4px;
    border: 1px solid rgba(230, 230, 230, 1);
    background: $main-white;
    display: none;
  }

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }

  &__img {
    width: 100%;
  }

  &__img-wrapper {
    position: relative;
  }

  &__img-wrapper::after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $gray-600;
    opacity: 60%;
  }

  &__btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    cursor: pointer;
  }

  &__btn-wrapper:hover::after {
    content: "";
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 112px;
    height: 112px;
    background-color: $primary;
    opacity: 12%;
    border-radius: 50px;
    z-index: 3;
  }

  &__img-hidden {
    display: none;
  }

  &__frame {
    display: block !important;
  }

  @include respond-to($desktop) {
    &__inner {
      margin-top: 80px;
    }

    &__title {
      font-size: 36px;
      margin-bottom: 20px;
    }

    &__text {
      margin-bottom: 40px;
    }
  }

  @include respond-to($s-tablet) {
    &__inner {
      margin-top: 50px;
    }

    &__title {
      font-size: 26px;
      max-width: 290px;
      margin-right: auto;
      margin-left: auto;
    }

    &__text {
      font-size: 14px;
      margin-bottom: 30px;
      max-width: 290px;
      margin-right: auto;
      margin-left: auto;
    }

    &__btn {
      width: 40px;
      height: 40px;
    }

    &__btn-wrapper:hover::after {
      width: 80px;
      height: 80px;
    }
  }
}

.values {
  &__inner {
    margin-top: 185px;

    text-align: center;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 94px;
  }

  &__item {
    padding-right: 94px;
    position: relative;
    img {
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 24px;
    }
  }

  &__item:nth-last-child(1) {
    padding-right: 0;
  }

  &__item:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 3px;
    background: linear-gradient(
      270.01deg,
      rgba(218, 219, 221, 0) 0%,
      rgba(218, 219, 221, 0.5) 12.33%,
      #dadbdd 51.91%,
      rgba(218, 219, 221, 0.5) 87.85%,
      rgba(218, 219, 221, 0) 100%
    );
  }

  &__item-title {
    @include lead-bold;
    margin-bottom: 8px;
  }

  &__item-text {
    @include base-regular;
    max-width: 285px;
  }

  @include respond-to($l-desktop) {
    &__inner {
      margin-top: 100px;
    }
    &__list {
      gap: 54px;
    }

    &__item {
      padding-right: 54px;
    }
  }

  @include respond-to($m-desktop) {
    &__list {
      gap: 24px;
    }

    &__item {
      padding-right: 24px;
    }
  }

  @include respond-to($m-desktop) {
    &__list {
      display: block;
      margin-right: auto;
      margin-left: auto;
    }
    &__item:not(:last-child)::after {
      display: none;
    }

    &__item {
      padding-right: 0;
      margin-bottom: 25px;

      img {
        width: 38px;
        height: 38px;
        margin-bottom: 14px;
      }
    }

    &__item-text {
      margin-right: auto;
      margin-left: auto;
    }
  }

  @include respond-to($l-mobile) {
    &__inner {
      margin-top: 50px;
    }

    &__item-title {
      font-size: 18px;
      line-height: 20px;
    }

    &__item-text {
      font-size: 14px;
      line-height: 19px;
      max-width: 230px;
    }

    &__item {
      img {
        width: 38px;
        height: 38px;
        margin-bottom: 14px;
      }
    }
  }
}

.request-form {
  margin-right: 15px;
  margin-left: 15px;

  &__inner {
    // position: absolute;
    // left: 50%;
    //   top: 50%;
    //   transform: translate(-50%, -50%);
    margin-top: 129px;
    background-color: $main-white;
    max-width: 1230px;
    margin-right: auto;
    margin-left: auto;
    padding: 48px 60px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03);

    box-shadow: 0px 12px 10px -6px rgba(154, 156, 165, 0.04);

    box-shadow: 0px 30px 24px -10px rgba(154, 156, 165, 0.05);

    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
    position: relative;
    z-index: 50;
  }

  &__title {
    @include third-heading;
    text-align: center;
    margin-bottom: 40px;
  }

  &__list {
    display: grid;
    grid-template-columns: 260px 260px 414px 104px;
    align-items: end;
    gap: 24px;
  }

  &__input {
    margin-bottom: 0;
  }

  &__message {
    margin-bottom: -4px;
  }

  @include respond-to($l-desktop) {
    &__inner {
      margin-top: 100px;
      padding: 38px 50px;
    }

    &__list {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    &__btn {
      width: 100%;
    }
  }

  @include respond-to($m-tablet) {
    &__input {
      margin-bottom: 0;
    }

    &__message {
      margin-bottom: 0;
    }

    &__inner {
      margin-top: 50px;
      padding: 18px 20px;
    }

    &__list {
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    }
  }
}

.services {
  position: relative;

  &__bg {
    margin-top: -90px;
    object-fit: cover;
    object-position: center;
    height: 880px;
    width: 100%;
  }

  &__inner {
    position: absolute;
    left: 50%;
    top: 58%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    z-index: 50;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
    gap: 30px;
    justify-content: center;
    max-width: 1230px;
    margin-right: auto;
    margin-left: auto;
  }

  &__item {
    width: 285px;
    height: 285px;
    padding-top: 89px;
    border: 1px solid $gray-300;
    border-radius: 1px;
    // background-color: $main-white;
    cursor: pointer;
    box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    box-shadow: 0px 12px 10px -6px rgba(154, 156, 165, 0.04);
    box-shadow: 0px 30px 24px -10px rgba(154, 156, 165, 0.05);
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
    margin-right: auto;
    margin-left: auto;
    background-image: url('@img/image.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

    img {
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 24px;
      fill: blue;
    }

    img:hover {
      fill: black;
    }

    p {
      @include lead-bold;
    }
  }

  &__item:hover {
    p {
      color: $main-white;
    }

    background-image: url('@img/application-image.jpg');
  }

  &__btn-wrapper {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  &__btn-subtitle {
    @include third-heading;
  }

  &__btn {
    @include main-btn;
    padding: 0 46px;
    line-height: 52px;
  }

  @include respond-to($l-desktop) {
    &__inner {
      top: 55%;
    }

    &__bg {
      height: 1200px;
    }
  }

  @include respond-to($m-tablet) {
    &__text {
      max-width: 590px;
      margin-right: auto;
      margin-left: auto;
    }

    &__btn-subtitle {
      font-size: 21px;
    }
  }

  @include respond-to($s-mobile) {
    &__item {
      width: 225px;
      height: 225px;
      padding-top: 59px;
    }

    &__bg {
      height: 1500px;
    }

    &__btn-wrapper {
      display: block;
      margin-right: auto;
      margin-left: auto;
      margin-top: 40px;
    }

    &__btn-subtitle {
      margin-bottom: 25px;
    }
  }
}
